@page
@model InventoryManagement.Pages.Inventory.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Inventory</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Inventory.Id" />
            <div class="form-group">
                
                <label asp-for="Inventory.Guid" class="control-label"></label>
                <input asp-for="Inventory.Guid" class="form-control" />
                <span asp-validation-for="Inventory.Guid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="Inventory.Title" class="control-label"></label>
                <input asp-for="Inventory.Title" class="form-control" />
                <span asp-validation-for="Inventory.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="Inventory.Description" class="control-label"></label>
                <input asp-for="Inventory.Description" class="form-control" />
                <span asp-validation-for="Inventory.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                
                <label asp-for="Inventory.ImageUrl" class="control-label"></label>
                <input asp-for="Inventory.ImageUrl" class="form-control" />
                <span asp-validation-for="Inventory.ImageUrl" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <span class="text-danger">*</span>
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Inventory.IsPublic" /> @Html.DisplayNameFor(model => model.Inventory.IsPublic)
                </label>
            </div>
            <div class="form-group">
                
                <label asp-for="Inventory.CreatedAt" class="control-label"></label>
                <input asp-for="Inventory.CreatedAt" class="form-control" />
                <span asp-validation-for="Inventory.CreatedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                
                <label asp-for="Inventory.UpdatedAt" class="control-label"></label>
                <input asp-for="Inventory.UpdatedAt" class="form-control" />
                <span asp-validation-for="Inventory.UpdatedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
