@page
@model InventoryManagement.Pages.Items.IndexModel
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["Items"].Value;
}

<h1>@Localizer["Items"]</h1>

<p>
    <a asp-page="Create">@Localizer["Create New"]</a>
</p>

@await Html.PartialAsync("~/Pages/Shared/_ItemsTable.cshtml", new InventoryManagement.Models.ViewModels.ItemsTableModel
{
    Items = Model.Items,
    ShowInventoryColumn = true
})

<style>
  .id { width: 1%; white-space: nowrap; }
</style>
